.homeTitle {
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.homeNav {
    width: 100%;
    height: 30rem;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cas {
    height: 20rem;
    width: 20rem;
    background-color: blue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.casTop {
    height: 16rem;
    width: 100%;
}
.casBottom {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cas:hover {
    cursor: pointer;
}